<section>
  <h1>Welcome to Visions Unite!</h1>

  <h2>All Vetted Groups:</h2>

  <%= for group <- @groups do %>
    <VisionsUniteWeb.ExpressionComponent.expression expression={group} current_user_id={nil} />
  <% end %>

</section>
