<%= if Enum.count(@all_expressions) != 0 do %>
  <section>
    <h3>ALL Expressions</h3>
    <div id="all-expressions">
      <%= for expression <- @all_expressions do %>
        <ExpressionComponent.expression expression={expression} current_user_id={@current_user_id} />
      <% end %>
    </div>
  </section>
<% end %>
